@font-face {
    font-family: Pirata;
    src: url(../fonts/PirataOne-Regular.ttf);
}

html, body
{
    height: 100%;
    width: 100%;
    border:none;
    padding:none;
    margin:none;
    overflow: hidden;
}

#container
{
    width: 100%;
    height: 100%;
    background: #a05fa0;
    /* --- FLEX --- */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.box
{
    flex-direction: column;
    width: 200rem;
    height: 200px;
    font-size: 20px;
    background: #a05fa0;
    color: #fff;
    text-align: center;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    transition: all 0.5s ease;
}

.age-gateway__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

@media  screen and (max-width: 600px) {
    .age-gateway__form{
        flex-direction: column;
    }
    .age-gateway__input-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.age-gateway__input-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.age-gateway__input
{
    width: 7rem;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    border-bottom: 1px solid #ccc;
}


.age-gateway__submit
{
    font-family: Pirata;
    margin-bottom: 5rem;
    margin-top: 1rem;
    background: url("../static/enter-01.svg") no-repeat scroll 0 0 transparent;
    border: none;
    width: 20rem;
    height: 15rem;
    background-position:center;
    cursor: pointer;
    font-size: 4.5rem;
    color: #fff;
    transition: all 2.5s ease;
}

.modal-title
{
    font-family: Pirata;
    font-size: 8rem;
    margin-bottom: 0rem;
}

.modal-paragraph
{
    margin: 2rem auto;
    max-width: 48rem;
}
  
.age-gateway__submit:hover{
    transform: rotate(720deg);
    /* transform: rotate(1080deg); */
}


